	@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');
	@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font: inherit;
	font-family: "Roboto", sans-serif;
	font-size: 100%;
	vertical-align: baseline;

}
body{
	background: #29434e;/*#1e88e5;*/
	font-family: arial;
	color:#000;
	margin-bottom: 1em;
}
a{
	text-decoration: none;
	color: #fff;
}
a:visited{
	color:#fff;
}
h2{
	font-size: 180%;
	font-weight: 300;
	line-height: 1em;
	margin-bottom: 0.5em;
}
#overlay{
	width: 100%;
	height: 100%;
	position: relative;
}

/*** STATICBOX ***/

.staticbox{
	display: block;
	width: 198px;
	height: 198px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -99px 0 0 -99px;
	background: rgba(0,0,0,0.3);
	border-radius: 99px;	
}
.staticbox .viewer{
	opacity: 0;
	-webkit-transform: scale(0.9);
	transition: all 200ms ease;
}
.staticbox .viewer.show{
	opacity: 1;
	-webkit-transform: scale(1);
	transition: all 200ms ease;
	transition-delay: 200ms;
}
.staticbox img{
	width: 100%;
	opacity: 0.9;
	position: absolute;
}
.staticbox .text{
	display: block;
	width: 360px;
	height: 360px;
	position: absolute;
	top: 50%;
	left: 50%;
	margin: -180px 0 0 -180px;
	display: block;
	text-align: center;
	color: #bdc3c7;
	text-shadow: 1px 1px #000;
}
.staticbox .text h3{
	font-size: 130%;
	margin-top: 100px;
	color: #ecf0f1;
}

/*** RINGS ***/

.rings{
	display: block;
	margin: 40px auto;
	height: 200px;
	width: 200px;
	opacity: 0;
	transition: all 800ms ease;
	-webkit-transform: scale(0.2);
}
.rings.loaded{
	-webkit-transform: scale(1);
	opacity: 1;
}
.ring{
	display: block;
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-animation-timing-function: linear;
	-webkit-animation-iteration-count: infinite;
	-webkit-animation-fill-mode: none;
}
.ring.one{
	background: url(/file/png/1/) no-repeat center center;
	background-size: 234px 234px;
	margin: -117px 0 0 -117px;
	height: 234px;
	width: 234px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 180s;
}
.ring.two{
	background: url(/file/png/2) no-repeat center center;
	background-size: 250px 250px;
	margin: -125px 0 0 -125px;
	height: 250px;
	width: 250px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 70s;
	-webkit-animation-direction: reverse;
}
.ring.three{
	background: url(/file/png/3) no-repeat center center;
	background-size: 200px 200px;
	margin: -100px 0 0 -100px;
	height: 200px;
	width: 200px;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 100s;
}
.ring.four{
	background: url(/file/png/4) no-repeat center center;
	background-size: 208px 208px;
	margin: -104px 0 0 -104;
	height: 208px;
	width: 208px;
	-webkit-animation-direction: reverse;
	-webkit-animation-name: spin;
	-webkit-animation-duration: 120s;
}
@-webkit-keyframes spin {0%{-webkit-transform:rotateZ(0)}100%{-webkit-transform:rotateZ(360deg)}}

/***    ***/
.hide{
	opacity: 0.0001 !important;
}
.blur{
	-webkit-filter: blur(5px);
	-moz-filter: blur(5px);
	-o-filter: blur(5px);
	-ms-filter: blur(5px);
	filter: blur(5px);
}
/*** GRID ***/
#main-grid{
	display: grid;
	grid-template-columns: 1em 200px auto 1em;
	grid-template-areas:
		". mico head ."
		". fb cont .";
	grid-row-gap: 1em;
	grid-column-gap: 1em;
}
#menuicon, #menuiconuser{
	grid-area: mico;
	align-self: end;
	-webkit-border-radius: 2pt;
	width: 2.2em;
	height: 2.2em;
	-webkit-transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
    background-repeat: no-repeat;
    background-color: #fff;
    background-width:1em;
    background-position: 0.3em 0.3em;  
}

#menuicon{
	background-image:  url('/file/svg/menu');
}

#menuicon:hover{
	width: 100%;
	height: 8.3em;
	background: none;
	background-image: none;
	box-shadow: 0 0px 0px rgba(0,0,0,0), 0 0px 0px rgba(0,0,0,0) !important;
}

#menuicon a{
	color:#000;
	display: block;
	white-space: nowrap;
	opacity: 0;
	height: 1.1em;
	overflow: hidden;
	padding: 0.5em 1em;
	margin-bottom: 1em;
	margin-left: 1%;
	-webkit-transition: opacity,padding,margin 0s; 
    transition: all 0s;
    -webkit-transition-delay: 0ms;
    transition-delay: 0ms;
    overflow-x:hidden;
    transform: scale(0);
    background-color: #fff;
    -webkit-border-radius: 2pt;
    width: calc(100% - 2em);
    position: relative;
	left: -1%;
}
#menuicon:hover a{
	opacity: 1;
	-webkit-transition: opacity,box-shadow 200ms; 
    transition: opacity,box-shadow 200ms;
	-webkit-transition-delay: 180ms, 0s;
    transition-delay: 180ms, 0s;
    transform: scale(1);

}
#menuicon a:hover{
	-webkit-transition: all 200s cubic-bezier(.25,.8,.25,1); 
    transition: all 200ms cubic-bezier(.25,.8,.25,1);
    transition-delay: 0s;
    padding-left: calc(1em + 1%);
    padding-right: calc(1em + 1%);
    margin-left: 0;
}

#menuiconuser{
	margin-left: 3.2em;
    background-image: url('/file/svg/person');
    cursor: pointer;
}
#menuicon:hover ~ #menuiconuser{
	margin-left: -webkit-calc(100% + 1em);
	opacity: 0;
}
#menuiconuser:hover{
	width: 10.8em;

}
#menuiconuser>a{
	opacity: 0;
	color: #2c7ab0;
	margin-left: 2.2em;
	line-height: 2.2em;
	width: 4em;
	-webkit-transition: all 200s cubic-bezier(.25,.8,.25,1); 
    transition: all 200ms cubic-bezier(.25,.8,.25,1);
}
#menuiconuser:hover>a{
	opacity: 1;
}
.header{
	grid-area: head;
  	min-width: 100%;
  	justify-content: center;
}
.content{
	grid-area: cont;
}
.content>div{
	-webkit-border-radius: 4px;
	padding: 1em;
	background: #fff;
	margin-bottom: 1em;
}
.fb{
	grid-area: fb;
}
.fb>p{
	padding: 1em;
	color:#ecf0f1;
	font-weight: 300;
	background: #2c7ab0;
	margin-bottom: 1em;
	-webkit-border-radius: 2pt;
}
.fb>p a{
	color: #bdc3c7;
	font-size: 10pt;
	text-align: left;
	width: 100%;
}

/***  ***/
.card-1, .card-2, .card-3, .card-4, .card-5 {
  transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}
.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.card-2, #menuicon a,.fb>p a:hover{
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);

}

.card-3,{
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-4, #menuicon a:hover{
  box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22), 0px -1px 5px -1px rgba(0, 0, 0, 0.20);
}

.card-5 {
  box-shadow: 0 19px 38px rgba(0,0,0,0.30), 0 15px 12px rgba(0,0,0,0.22);
}
.z-depth-4, #menuicon:hover, #menuiconuser:hover {
    -webkit-box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
    box-shadow: 0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
}
#main-grid{
	grid-template-columns: auto;
	grid-template-areas:
		". head ."
		". cont .";
}
#menuicon, .fb, #menuiconuser{
		display: none;
}

@media (min-width: 68em) {
	#main-grid{
		grid-template-columns: auto 14em 50em auto;
		grid-template-areas:
			". mico head ."
			". fb cont .";
	}
	/*#menuicon, #menuiconuser{
		grid-area: 1 / 2 / 2 / 3;
		-webkit-grid-area: 1 / 2 / 2 / 3;
	}*/
	#menuicon, .fb, #menuiconuser{
		display: block;
	}

}
/*
@media (min-resolution: 8dppx) {
	#main-grid{
		grid-template-columns: auto;
		grid-template-areas:
			". head ."
			". cont .";
	}
	#menuicon, .fb, #menuiconuser{
		display: none;
	}
}*/
